/* RESET PROPERTIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***CUSTOM PROPERTIES***/
:root {
    /* Palette */
    --bg-overlay: #EAEAEA;
    --bg-hero: #8EDAFC;
    --btn-color: #7c7c7c;
    --btn-color-hover: #009688;
    --message-sent: #caffa1;
    --bd-mode-dark: #242424;
    /* Commons */
    --white: #fff;
    --black: #000;
}


body {
    background-image: linear-gradient(#009688 0 12%, #DADBD3 12% 100%);
}

.bg-body-dark {
    background-image: linear-gradient(#333333 0 12%, #1c1c1c 12% 100%);
}

.bg-mode-dark {
    background-color: var(--bd-mode-dark);
}

.bg-body-dark li:hover {
    color: black;
}

.text-hover-dark {
    color: var(--white);
}

.text-hover-dark:hover {
    color: var(--black);
}

#overlay {
    height: 90vh;
    width: 75vw;
}

/* COLS PROPERTIES */
[class^="col"] {
    height: 100%;
}

#col-side {
    flex-basis: 35%;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

#col-main {
    flex-basis: 65%;
}

/* HEADER PROPERTIES */
header{
    height: 75px;
    padding: 10px;
}

.bg-header {
    background-color: var(--bg-overlay);
}

.user-side-image img {
    border-radius: 50%;
    max-height: 100%;
    display: block;
    cursor: pointer;
}

#username {
    padding-top: 6.5%;
    cursor: default;
}

#contact-name {
    padding-top: 10%;
    cursor: pointer;
}

#contact-name:hover {
    color: #009688;
}

/* BUTTONS PROPERTIES */
a {
    color: var(--btn-color);
}

[class^="bi"] {
    padding: 10px;
}

[class^="bi"]:hover {
    background-color: var(--btn-color-hover);
    color: var(--white);
    border-radius: 7px;
}

.vertical-line {
    height: 50%;
    border: 1px solid var(--btn-color);
}

/* SIDEBAR */
.sidebar-hero {
    height: 90px;
    background-color: var(--bg-hero);
    position: relative;
}

.sidebar-hero a {
    font-size: 14px;
}

.bi-bell-slash-fill {
    font-size: 25px;
    margin-left: 1.5rem;
    border-radius: 50%;
    padding-inline: 15px;
    background-color: #fff;
    color: #009688;
}

.bi-bell-slash-fill:hover {
    background-color: transparent;
    border-radius: 50%;
    padding-inline: 15px;
    background-color: #fff;
    color: #009688;
}

.input-group-append button:hover {
    background-color: #009688;
    color: var(--white);
}

#contacts-list {
    display: flex;
    height: calc(100% - 218px);
    padding: 10px;
}

#contacts-list ul {
    overflow: auto;
}

#contacts-list li {
    cursor: pointer;
    position: relative;
}

#contacts-list li:hover {
    background-color:#DADBD3;
}

li img {
    border-radius: 50%;
    max-height: 50px;
    display: block;
    cursor: pointer;
}

li address {
    position: absolute;
    left: 16.5%;
    top: 60%;
    font-size: 11px;
}

#contacts-list time {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 8px;
}

/* MAIN */
#chat {
    height: calc(100% - 145px);
    overflow: auto;
    padding: 10px;
    display: flex;
}

.bg-chat {
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-size: cover;
}

.bg-chat-dark {
    background-image: url(../img/mine-dark.jpg);
    background-position: center;
    background-size: cover;
}

.main-text-area {
    height: 70px;
}

#main-text-area [class^="bi"]:hover {
    background-color: var(--btn-color-hover);
    color: var(--white);
    border-radius: 7px;
}

/* MESSAGES */
.message-container {
    display: flex;
}

.message-container.sent {
    justify-content: flex-end;
}

.message-container.received {
    justify-content: flex-start;
}

.message-container.sent .message {
    background-color: var(--message-sent);
}

.message-container.received .message {
    background-color: var(--white);
}

.message-container .message p {
    margin-bottom: 0;
}

.message-container .message time {
    display: block;
    text-align: right;
    font-size: 10px;
    color: #7c7c7c;
}