<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META TAGS -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- BOOTSTRAP LINK -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
        <!-- BOOTSTRAP ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        
        <!-- BOOTSTRAP JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

        <!-- FONTAWESOME LINK -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
    
        <!-- CSS LINK -->
        <link rel="stylesheet" href="CSS/style.css" type="text/css">
    
        <!-- VUE JS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
        <!-- JS LINK -->
        <script defer src="JS/main.js"></script>

        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" href="img/boolzap.ico">

        <title>Boolzap</title>
    
    </head>

<body class="vh-100 d-flex align-items-center">

    <div id="root" class="mx-auto">

        <div id="overlay" class="container-fluid bg-white shadow-lg">

            <div class="row h-100">

                <!-- SIDEBAR -->
                <div id="col-side" class="col px-0">

                    <!-- SIDEBAR HEADER -->
                    <header class="d-flex justify-content-between shadow-sm">

                        <div class="user-side-image d-flex align-items-center">
                            <img src="img/avatar_io.jpg" alt="user profile image" class="img-fluid">
                            <h6 id="username" class="ms-1">Nome Utente</h6>
                        </div>

                        <div class="user-side-actions d-flex align-items-center pt-1">

                            <a href="#"><i class="bi bi-pencil-square fa-lg"></i></a>

                            <a href="#"><i class="bi bi-chat-square mx-2 fa-lg"></i></a>
                            
                            <nav>
                                <a href="#" data-bs-toggle="dropdown">
                                  <i class="bi bi-three-dots fa-lg"></i>
                                </a>
                                <ul class="dropdown-menu shadow-lg">
                                  <li>
                                    <a class="dropdown-item" href="#" @click="toggleDarkMode" v-text="darkMode ? 'Light mode' : 'Dark mode'"></a>
                                  </li>
                                  
                                </ul>
                              </nav>

                        </div>

                    </header>

                    <!-- SIDEBAR HERO -->
                    <div class="sidebar-hero d-flex align-items-center">

                        <i id="hero-bell" class="bi bi-bell-slash-fill"></i>

                        <div class="ms-2"> 
                            <h6>Ricevi notifiche di nuovi messaggi</h6>
    
                            <a href="#">Attiva notifiche desktop</a>
                        </div>

                    </div>

                    <!-- SIDEBAR SEARCH INPUT -->
                    <div id="search-contacts" class="p-2">
                        <div class="input-group">
                          <span class="input-group-append">
                            <button class="btn btn-outline-success border ms-n3" type="button">
                              <i class="fa fa-search"></i>
                            </button>
                          </span>
                          <input v-model="searchContact" class="form-control border-start-0 border" type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                      </div>

                      <!-- CONTACTS LIST -->
                      <main id="contacts-list" class="w-100 p-1 m-0">
                        <ul class="contacts list-unstyled w-100">
                          <li v-for="(contact, i) in filteredContacts" :key="contact.id" @click="openChat(contact)" class="my-1 p-1 d-flex align-items-center rounded">
                            <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                            <p class="ms-2">{{ contact.name }}</p>
                            <address>{{ getLastMessage(contact).message }}</address>
                            <time>{{ getLastMessage(contact).timestamp }}</time>
                          </li>
                        </ul>
                      </main>
                    </div>

                <!-- MAIN -->
                <div id="col-main" class="col px-0">

                    <!-- MAIN HEADER --> 
                    <header class="d-flex justify-content-between shadow-sm">

                        <div class="user-side-image d-flex align-items-center">
                            <img :src=`img/avatar${selectedContact.avatar}.jpg` :alt="selectedContact.name" class="img-fluid">
                            <h6 id="contact-name" class="ms-1 pb-3">{{ selectedContact.name }}</h6>
                            <p id="last-access">Ultimo accesso: {{ getLastMessage(selectedContact).timestamp }}</p>
                        </div>

                        <div class="user-side-actions d-flex align-items-center pt-1">

                            <a href="#"><i class="bi bi-camera-video fa-lg"></i></a>

                            <a href="#"><i class="bi bi-telephone fa-lg mx-2"></i></a>

                            <div class="vertical-line bg-dark"></div>

                            <a href="#"><i class="bi bi-search fa-lg ms-2"></i></a>

                        </div>

                    </header>


                    <!-- CHAT -->
                    <main id="chat" class="container-fluid bg-chat">

                        <ul class="px-3 flex-grow-1">
                            
                            <li v-for="message in selectedContact.messages" class="message-container my-2" :class="message.status === 'sent' ? ' sent' : ' received'">
                                <div class="message p-2 rounded-3">
                                    <p>{{message.message}}</p>
                                    <time datetime="2023-08-03T09:53">{{message.date}}</time>
                                </div>
                            </li>

                        </ul>

                    </main>

                    <!-- CHAT MESSAGE INPUT -->
                    <div id="main-text-area" class="main-text-area d-flex align-items-center p-2 ">
                        <a href="#" @click="toggleEmojiMenu">
                            <i class="bi bi-emoji-smile fa-lg pe-auto message-act"></i>
                          </a>
                          <!-- ... -->
                          <div v-if="showEmojiMenu" class="emoji-menu rounded shadow-lg">
                            <a href="#" class="fs-4">&#128512</a>
                            <a href="#" class="fs-4">&#128513</a>
                            <a href="#" class="fs-4">&#128514</a>
                            <a href="#" class="fs-4">&#128515</a>
                            <a href="#" class="fs-4">&#128516</a>
                            <a href="#" class="fs-4">&#128517</a>
                            <a href="#" class="fs-4">&#128518</a>
                            <a href="#" class="fs-4">&#128519</a>
                            <a href="#" class="fs-4">&#128520</a>
                            <a href="#" class="fs-4">&#128521</a>
                            <a href="#" class="fs-4">&#128522</a>
                            <a href="#" class="fs-4">&#128523</a>
                            <a href="#" class="fs-4">&#128524</a>
                            <a href="#" class="fs-4">&#128525</a>
                            <a href="#" class="fs-4">&#128526</a>
                            <a href="#" class="fs-4">&#128527</a>
                            <a href="#" class="fs-4">&#128528</a>
                            <a href="#" class="fs-4">&#128529</a>
                            <a href="#" class="fs-4">&#128530</a>
                            <a href="#" class="fs-4">&#128531</a>
                            <a href="#" class="fs-4">&#128532</a>
                            <a href="#" class="fs-4">&#128533</a>
                            <a href="#" class="fs-4">&#128534</a>
                            <a href="#" class="fs-4">&#128535</a>
                            <a href="#" class="fs-4">&#128536</a>
                            <a href="#" class="fs-4">&#128537</a>
                            <a href="#" class="fs-4">&#128538</a>
                            <a href="#" class="fs-4">&#128539</a>
                            <a href="#" class="fs-4">&#128540</a>
                            <a href="#" class="fs-4">&#128541</a>
                            <a href="#" class="fs-4">&#128542</a>
                            <a href="#" class="fs-4">&#128543</a>
                            <a href="#" class="fs-4">&#128544</a>
                            <a href="#" class="fs-4">&#128545</a>
                            <a href="#" class="fs-4">&#128546</a>
                            <a href="#" class="fs-4">&#128547</a>
                            <a href="#" class="fs-4">&#128548</a>
                            <a href="#" class="fs-4">&#128549</a>
                            <a href="#" class="fs-4">&#128550</a>
                            <a href="#" class="fs-4">&#128552</a>
                          </div>                          
                          <a href="#" @click="openFileInput">
                            <i class="bi bi-paperclip fa-lg pe-auto message-act"></i>
                          </a>
                          <input type="file" id="fileInput" style="display: none" @change="handleFileSelection">
                        <div class="input-group mx-2">
                            <input v-model="newMessage" @keyup.enter="sendMessage(newMessage)" class="form-control border-start-0 border" type="text" placeholder="Scrivi un messaggio">
                        </div>
                        <a href="#">
                            <i class="bi bi-mic fa-lg pe-auto message-act"></i>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>